@import './variables.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}


html {
  height: 100%;
  // box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
li, ol, ul {
  list-style: none;
}

a, b, body, button, dd, div, dl, em, footer, form, h1, h2, h3, h4, h5, h6, i, input, label, li, nav, p, select, span, td, textarea, u, ul {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #dedfe0;
  border-radius: 5px;
}
::-webkit-scrollbar-track-piece {
  background-color: #fff;
 border-radius: 0;
}  

:focus{
  outline: 0 !important;
}

// 全部组件的统一样式
.component-global{
  position: absolute;
  // overflow: hidden;
  box-sizing: border-box;
  white-space: pre-line;
  &.is-edit:hover{
    outline: 2px dashed #4ab7bd;
    .set-modal-global{
      opacity: .9;
    }
    .com-btn-global{
      // display: block;
      display: flex;
    }
  }
  // 遮罩层
  .set-modal-global{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #fff;
    opacity: 0;
    cursor: pointer;
  }
  // 设置按钮
  .com-btn-global{
    display: none;
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .set-btn-global{
    background: #4ab7bd;
    border-color: #4ab7bd;

    &:hover{
      background: #7ddde2;
      border-color: #7ddde2;
    }
    &:active{
      background: #4ab7bd;
      border-color: #4ab7bd;
    }
  }
}

@mixin click {
  &:hover{
    opacity: .7;
  }
  &:active{
    opacity: 1;
  }
}

// 全局更改弹出确认框样式
.el-message-box{
  width: 400px;
  .el-message-box__header{
    padding: 20px 0 12px 0;
    text-align: center;
    .el-message-box__title{
      font-size: 14px;
      font-weight: bold;
    }
  }
  .el-message-box__btns{
    text-align: center;
    padding-bottom: 14px;
    >button{
      width: 96px;
      @include click;
      &:first-child{
        background: #fff;
        border-color: #DCDFE6;
        &:hover{
          color: #606266;
        }
      }
      &:last-child{
        background: $mainC;
        border-color: $mainC;
      }
    }
  }
}

// 弹出窗dialog全局更改
.el-dialog__wrapper{
  overflow: hidden !important;
}

// 按钮
@mixin colorBtn($color) {
  background: $color;

  &:hover {
    color: $color;

    &:before,
    &:after {
      background: $color;
    }
  }
}

.pan-btn {
  font-size: 14px;
  // font-weight: bold;
  color: #fff;
  padding: 14px 36px;
  border-radius: 4px;
  border: none;
  outline: none;
  transition: 600ms ease all;
  position: relative;
  display: inline-block;
  cursor: pointer;

  &:hover {
    background: transparent;

    &:before,
    &:after {
      width: 100%;
      transition: 600ms ease all;
    }
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    transition: 400ms ease all;
  }

  &::after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }
}

.red-btn {
  @include colorBtn(#e93a5d)
}
.green-btn{
  @include colorBtn(#4ab7bd)
}